
.contact-titles{
    padding-top: 3rem;
    text-align: center;
}

.contact-titles h2{
    font-size: 40px;
    color: #06235b;
}

.contact-titles p{
    font-size: 20px;
    width: 50%;
    margin: auto;
    line-height: 27px;

    padding: 1rem 0;
}

.contact-info{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 40px;
    padding-bottom: 4rem;
}

.contact-text{
    padding-top: 2rem;
    width: 40%;
}

.contact-text-subtitle h4{
    font-size: 29px;

}

.contact-text p{
    margin: 6px 0;
    line-height: 25px;
}

.contact-text-items{
    padding-top: 1rem;
}

.contact-text-item{
    display: flex;
    align-items: center;
}

.contact-text-item img{
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

@media (max-width: 950px) {
   
    .contact-text{
        display: flex;
        width: 100%;
        gap: 30px;
    }

    .contact-text-items{
        padding-top: 2rem;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
        gap: 0;
    }



}

@media(max-width:550px){
    .contact-text{
        flex-direction: column;
        gap: 10px;
    }

    .contact-text-items{
        padding: 0;
    }

    .contact-titles h2{
        font-size: 30px;
    }

    .contact-text-subtitle h4{
        font-size: 25px !important;
    }

    .contact-titles p{
        width: 80%;
    }

}




    